html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    box-shadow: none;
}

.article-content {
    padding-top: 20px;
}

.header-site-name a {
    color: #636b6f;
}

.header-site-name a:hover {
    text-decoration: none;
}
